*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' ,sans-serif;

}
.cards{
    max-width: 1110px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}
.cards h1{
    font-size:40px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.services{
    display: flex;
    align-items: center;
}
.services .content{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 4px;
    transition: all .4s ease;
}
.content .fab{
    font-size: 70px;
    margin: 16px 0;
    

}
.content >*{
    flex:1 1 100%
}
.content:hover a{
    background: white;
    border-color: white;
}
.content:hover{
    color: white;
}
.content-1:hover{
    border-color: #1da1f2;
    background:#1da1f2 ;
}
.content-1:hover a{
    color:#1da1f2;
}
.content-2:hover{
    border-color: #ec4537;
    background:linear-gradient(10deg,#f4b647,#ec4537,#db1a55,#a81191) ;
}
.content-2:hover a{
    color:#f4b647;
}
.content-3:hover{
    border-color: #f00;
    background:#f00 ;
}
.content-3:hover a{
    color:#ec4537;
}

.content h2{
    font-size: 30px;
    margin: 16px 0;
    letter-spacing: 1px;
    text-transform: uppercase;

}
.content p{
    font-size: 17px;
}
.content a{
    margin: 20px 0;
    background: #111;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 15px;
    border-radius: 25px;
    font-weight: 600;
}
.content a:hover{
    border-radius: 4px;
}
@media(max-width:900px){
    .services{
        display: flex;
        flex-direction: column;
    }
}