*{
    padding:0;
    margin: 0;

}
html,body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;    
}
.text{
    margin-top: -50px;
    font-size:100px;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
     color: #202020; 
    -webkit-box-reflect: below -40px linear-gradient(transparent,rgba(255,255,255,0.4));


}
