*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(#d5aeff 0%,#77a5f8 100%); */
    background: #d5aeff;
}
.wrapper{
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 10px 10px 15px rgba(0,0,0, 0.3);
}
.wrapper header{
    display: flex;
    align-items: center;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
}
header label{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;


}
#tab-1:checked ~ header .tab-1,
#tab-2:checked ~ header .tab-2,
#tab-3:checked ~ header .tab-3{
    color: #fff;
}
header label:nth-child(2){
     width: 40%; 
}
header .slider{
    position: absolute;
    height: 85%;
    border-radius: inherit;
    /* transform: translateX(-50%); */
    background: linear-gradient(145deg,#d5aeff 0%,#77a5f8 100%);
    transition: all 0.3s ease;
}
#tab-1:checked ~ header .slider{
    left: 0%;
    width: 90px;
    transform: translateX(5%);
}
#tab-2:checked ~ header .slider{
    left: 50%;
    width: 120px;
    transform: translateX(-50%);
}
#tab-3:checked ~ header .slider{
    left: 100%;
    width: 95px;
    transform: translateX(-105%);
}
.wrapper input[type="radio"]{
    display: none;
}


