body{
    padding:0;
    margin: 0;

}
.wraper{
    position: relative;
    background: #00fdff url(bground.jpg);
    background-repeat: repeat-x;
    height: 100vh;
    background-size:cover;
    background-position : 0 0;
    animation: animate 5s linear infinite;


}
@keyframes animate 
{
from{
    background-position: 0 0;

}
to{
    background-position: 100% 0;

}
}
.wraper img{
    position: absolute;
    left: -20px;
    bottom: -40px ;
}
img{
    width: 300px;
}